body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    text-align: center;
    padding: 20px 0;
    background-color: #343a40;
    color: #fff;
}
.header h1 {
    margin: 0;
    font-size: 2.5em;
}
.order-history {
    margin-top: 20px;
}
.order-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.order-details h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #343a40;
}
.order-details p {
    margin: 5px 0;
    color: #6c757d;
}
.order-details .price {
    font-size: 1.2em;
    color: #28a745;
    font-weight: bold;
}
.order-details .status {
    font-size: 1em;
    color: #ffc107;
    font-weight: bold;
}
.order-details .date {
    font-size: 0.9em;
    color: #6c757d;
}
#pong{
    border-radius: 50%;
    background-color: #1a1e21;
    border: #000000;
    display: flex;
    left: 200px;
    
}

#ping{
    height: 50px;
}